img{
  width:200px;
}

body{
  padding:0;
  margin:0;
}

p{
  margin:0;
}

/* header */

.header{
  background-color:#1F2937;
  margin:0;
  padding:0;
  height:50px;
  /* border:1px solid red; */
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.header .left{
  /* border:1px solid yellow; */
  font-size:24px;
  color:#F9FAF8;
  margin-left:50px;
  padding:0;
}

.header .right{
  /* border:1px solid yellow; */
  display:flex;
  gap:20px;
  margin-right:50px;
}

.header a{
  font-size:18px;
  color:#E5E7EB;
  text-decoration: none;
  
}


/*body1*/

.body1{
  background-color:#1F2937;
  margin:0;
  padding:50px;
  /* height:300px; */
  /* border:1px solid red; */
  display:flex;
  justify-content:center;
  align-items:flex-start; 
  gap:50px;
}

.body1 .left{
  /* border:1px solid yellow; */
  width:100px;
  margin:0;
  padding:0;
  flex:1;
}

.body1 .left .main{
  font-size:48px;
  font-weight:900;
  color:#F9FAF8;
  /* border:2px solid green; */
}

.body1 .left .secondary{
  font-size:18px;
  color:#E5E7EB;
  /* border:2px solid green; */
}

.body1 .left button{
  background-color:#3882F6;
  color:#F9FAF8;
  padding:0 20px;
  margin-top:10px;
  /* border:4px solid green; */
  
}

.body1 .right{
  /* border:1px solid yellow; */
  text-align:center;
  flex:1;
}

.body1 .right img{
  height:200px;
  width:auto;
  
}


/* Body2 */

.body2{
  margin:0;
  padding:50px;
  /* border:1px solid red; */
  display:flex;
  gap:20px;
  flex-direction: column;
}

.body2 .infosheader{
  /* border:1px solid green; */
  margin-bottom:30px;
  text-align:center;
  font-size:36px;
  font-weight:900;
  color: #1F2937;
}

.body2 .infos{
  display:flex;
  /* border:1px solid green; */
  justify-content:center;
  gap:30px;

}

.body2 .infos img{
  height:160px;
}

.body2 .infos .info{
  text-align:center;
}


/* Body3 */

.body3{
  margin:0;
  padding:50px;
  /* border:1px solid red; */
  background-color:#E5E7EB;
}

.body3 .words{
  /* border:1px solid green; */
  font-size:36px;
  font-style:italic;
  color:#1F2937;
  margin:0 100px;
}

.body3 .person{
  /* border:1px solid green; */
  font-size:30px;
  font-weight:700;
  text-align:end;
  margin: 10px 100px 0;
}


/* Body4 */

.body4{
  margin:50px;
  padding:50px 100px;
  /* border:1px solid red; */
  background-color: #3882F6;
  color: white;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.body4 .title{
  font-size:30px;
  font-weight:600;
}

.body4 button{
  background-color: #3882F6;
  color: white;
  font-size:24px;
  border: 2px solid white;
  padding: 5px 40px;
}


.footer{
  display:flex;
  background-color:#1F2937;
  margin:0;
  height:50px;
  /* border:1px solid red; */
  color:white;
  justify-content:center;
  align-items: center;
}